<main class="form-signin text-center">
  <form id="login-form">
    <h1 class="h3 mb-3 fw-normal text-dark">Login</h1>

    <label for="username-login" class="form-floating mb-3">
      <input type="text" class="form-control" id="username-login" placeholder="Username" autofocus="true">
      Username
    </label>

    <label for="password-login" class="form-floating mb-3">
      <input type="password" class="form-control" id="password-login" placeholder="Password" autofocus="true">
      Password
    </label>

    <button class="w-100 btn btn-lg mb-3 text-light custom-button" style="background-color:#009170;" type="submit">Sign in</button>
    <a class="login-link text-dark" href="/signUp">Sign up now</a>
  </form>
</main>

<script src="/js/login.js"></script>