<main class="form-signin text-center">
  <form id="signup-form">
    <h1 class="h3 mb-3 fw-normal text-dark">Sign up today!</h1>

    <label for="username-signup" class="form-floating mb-3">
      <input type="text" class="form-control" id="username-signup" placeholder="Membername" autofocus="true">
      Username
    </label>

    <label for="password-signup" class="form-floating mb-3">
      <input type="password" class="form-control" id="password-signup" placeholder="Password" autofocus="true">
      Password
    </label>

    <button class="w-100 btn btn-lg mb-3 text-light custom-button" style="background-color:#009170;" type="submit">Sign up</button>
    <a class="login-link text-dark" href="/login">Log in instead</a>
  </form>
</main>

<script src="/js/signUp.js"></script>